
*{
    padding: 0;
    margin: 0;

}
nav{
    background-color:white;
    color: black;
    height: 4rem;
    display: flex;
    align-items: center;
}
.nav-opt{
    display: flex;
}
ul li{
    margin-left: 20px;
    list-style: none;
} 









