*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    color: #ff6363;
    margin-bottom: 20px;
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8f2424;
    font-size: 20px;
}